.footer {
    background: #000;
    margin: 0;
    padding-bottom: 8rem;
}

/* UL that holds the links */
.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin: 0;
    list-style: none;
}

/* Individual link */
.link {
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-right: 3rem;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.15s ease;
}

.link:hover {
    opacity: 0.7;
}

.copyright {
    color: #aaa;
    font-size: 0.85rem;
    text-align: center;
    font-weight: 400;
    background-color: #000;
    padding-bottom: 2rem;
}