/* ─── 基本 ────────────────────────────── */
:root {
  --orange: #f37021;
  --border: 2px solid #111;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: url('/images/washi_texture.jpg');
  background-size: cover;
  /* or `auto` / `contain` / `repeat` */
  /* background-repeat: no-repeat;
  /* または repeat */
  /* background-position: center; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Swiper ナビゲーションの矢印 */
.swiper-button-prev,
.swiper-button-next {
  color: #111;
  width: 48px;
  height: 48px;
}