.mainTitle {
    font-size: 80px;
    font-weight: bold;
    margin: 4.5rem 0 2rem 0;
    line-height: 1.1;
    margin-left: 2rem;
    text-align: left;
}

.mainTitleLine {
    border-bottom: 2px solid #111;
    width: calc(100% - 4rem);
    margin: 4.5rem 0 2.5rem 2rem;
}